GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzLqIeAFdR_dvPyYtxrBlvHow5b3qJESMy770bBgoq1OuDi1C1UigisDMKWCgxLfjKTow/exec

ADMIN_SECRET=REEMPLAZAR_POR_UNA_CLAVE_LARGA_Y_ALEATORIA

NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/chacralosabuelos/
